.container {
  margin: 40px 12px 0;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--border-gray-color);
  .header {
    padding: 10px;
    text-align: center;
    span {
      font-weight: 600;
      font-size: 1.8rem;
    }
    border-bottom: 1px solid var(--border-gray-color);
  }
  .body{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
